html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button,
input[type='submit'],
input[type='checkbox'] {
  cursor: pointer;
}

button,
input,
textarea {
  &:focus {
    outline: none;
  }
}

p,
h2 {
  margin: 0;
}
