/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $second-color-darker;
  border-radius: 8px;
}

body {
  color: $text-color;
  font-family: Verdana, Geneva, sans-serif;
  font-size: $font-size;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 360px auto 360px;
  grid-column-gap: 20px;

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 2.6rem;
    overflow: hidden;
    position: relative;

    .delete-btn {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      top: 12px;
      width: 30px;
      opacity: 0;
      transform: translateX(27px);
      transition: transform 0.3s ease, opacity 0.3s;

      &:focus {
        outline: none;
      }
    }

    &:hover .delete-btn {
      transform: translateX(0);
      opacity: 1;
    }
  }

  li.selected {
  }
}
