/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $second-color-darker;
  border-radius: 8px;
}

body {
  background: $white-smoke;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 360px auto 360px;

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 2.6rem;
    overflow: hidden;
    position: relative;

    .delete-btn {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      top: 12px;
      width: 30px;
      opacity: 0;
      transform: translateX(27px);
      transition: transform 0.3s ease, opacity 0.3s;

      &:focus {
        outline: none;
      }
    }

    &:hover .delete-btn {
      transform: translateX(0);
      opacity: 1;
    }
  }

  li.selected {
  }

  #modal {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
    top: 50%;
    transition: visibility 0s, opacity 0.15s linear 0.1s,
      transform 0.3s ease-out 0.1s;
    z-index: 99;

    h2 {
      color: rgba(0, 0, 0, 0.87);
      font-size: 1.25rem;
      line-height: 2rem;
      font-weight: 500;
      letter-spacing: 0.0125em;
      padding: 12px 24px 10px;
    }

    p {
      color: rgba(0, 0, 0, 0.6);
      line-height: 1.5rem;
      letter-spacing: 0.03125em;
      padding: 0 24px 20px;
      font-weight: 400;
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px;
      flex-direction: row-reverse;

      button {
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.0892857143em;
        text-transform: uppercase;
        padding: 0 8px;
        border-radius: 4px;
        border: none;
        outline: none;
        line-height: 2.25rem;
        color: $base-color;
        background: transparent;

        &:hover {
          background: #0080ff14;
          transition: all 0.3s ease;
        }

        &:active:focus {
          background: #0080ff40;
        }
      }
    }
  }

  #modal.close {
    transform: translate(-50%, calc(-50% - 50px));
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.15s, opacity 0.15s linear, transform 0.3s ease-out;
  }
}

.modal-backdrop {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: visibility 0.15s 0.2s, opacity 0.15s linear 0.2s;
  visibility: hidden;
  width: 100%;
  z-index: 50;
}

.modal-backdrop.fade-in {
  opacity: 0.5;
  transition: visibility 0s, opacity 0.15s linear;
  visibility: visible;
}
