/* width */
::-webkit-scrollbar {
  width: $scrollbar-width;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $second-color-darker;
  border-radius: 8px;
}

* {
  user-select: none;
}

body {
  background: $white-smoke;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size;
  overflow: hidden;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.transition-off {
  transition: none !important;
}

.tooltip {
  /* some styles for the tooltip, you can use your own instead */
  position: fixed;
  padding: 6px 10px;
  border-radius: 3px;
  border: 1px solid #333333;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  color: #fff;
  background: #333333;
  white-space: nowrap;
  z-index: 99;

  &::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #333333;
    top: -4px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    pointer-events: none;
  }

  &.bottom-left::before {
    left: auto;
    right: 11px;
    transform: rotate(45deg);
  }

  &.top::before {
    top: auto;
    bottom: -4px;
  }
}

.text-button {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  text-transform: uppercase;
  padding: 0 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  line-height: 2.25rem;
  color: $base-color;
  background: transparent;

  &:hover {
    background: #0080ff14;
    transition: all 0.3s ease;
  }

  &:active:focus {
    background: #0080ff40;
  }
}

.drag-overlay {
  background-color: transparent;
  cursor: grabbing;
  position: absolute;
  z-index: 1001;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-areas: 'header';
  grid-template-columns: auto;
  margin-left: 55px;
  grid-template-rows: auto 1fr;
  position: relative;

  @media screen and (min-width: $breakpoint-sm) {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'header header header';
    margin-left: 0;
  }

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 2.6rem;
    overflow: hidden;

    .delete-btn {
      background: none;
      border: none;
      padding: 0;
      position: absolute;
      right: 9px;
      top: calc(50% - 9px);
      width: 18px;
      opacity: 0;
      transform: translateX(27px);
      transition: transform 0.3s ease, opacity 0.3s;

      &:focus {
        outline: none;
      }
    }

    &:hover .delete-btn {
      transform: translateX(0);
      opacity: 1;
    }
  }

  li.selected {
  }
}
