.details-view {
  background: $white-smoke;
  padding: 10px;
  padding-left: 0;

  div {
    background: #fff;
    border: 1px solid $second-color-dark;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;

    textarea {
      border: none;
      font-weight: 600;
      overflow: hidden;
      padding: 6px 10px;
      resize: none;
      width: 100%;

      &:hover,
      &:focus {
        background: $white-smoke;
      }
    }
  }
}
