.details-view {
  background: $white-smoke;
  margin-bottom: 40px;
  position: absolute;
  width: 0;

  @media screen and (min-width: $breakpoint-sm) {
    position: relative;
  }

  div {
    background: #fff;
    border: 1px solid $second-color-dark;
    padding: 12px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 4px;

    textarea {
      border: none;
      font-weight: 400;
      overflow: hidden;
      padding: 6px 10px;
      resize: none;
      width: 100%;

      &:hover,
      &:focus {
        background: $white-smoke;
      }
    }

    & > svg {
      width: 16px;
      fill: $grey-color;
      left: 22px;
      position: absolute;
      z-index: 1;
      @include vertical-center-absolute;
    }
  }

  .name-block {
    align-items: center;
    border-bottom: none;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;

    textarea.name-details {
      height: 30px;
      font-weight: 500;
    }

    .important-block {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 4px;

      label {
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        svg {
          fill: $second-color-darker;
          width: 18px;
          transition: fill 0.3s ease;
        }

        &:hover {
          svg {
            fill: $grey-color;
          }
        }
      }

      #important-check {
        height: 0;
        opacity: 0;
        width: 0;
      }

      &.important {
        label {
          svg {
            fill: $base-color;
          }
        }
      }
    }
  }

  .subtask-block {
    border-top: none;

    .subtasks-list {
      padding-bottom: 5px;

      .subtask {
        border: 1px solid $second-color-darker;
        margin-bottom: 10px;
        padding: 10px;
        transition: $transition;

        &:hover {
          border-color: $base-color;
        }

        .subtask-name {
          margin-left: 15px;
          transition: color 0.3s ease;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &::before {
            background: $second-color-darker;
            content: '';
            height: 1px;
            left: $line-spacing;
            position: absolute;
            @include vertical-center-absolute;
            transform: scaleX(0) translateY(-50%);
            transform-origin: 0 0;
            transition: transform 0.3s ease;
            width: calc(100% - (#{$line-spacing} * 2));
          }
        }

        #subtaskNameInput {
          margin: 0;
          margin-left: 15px;
          padding: 0;
          border: none;
          color: inherit;
        }

        input[type='checkbox'] {
          height: 0;
          opacity: 0;
          width: 0;
        }

        label {
          cursor: pointer;
          height: 18px;
          width: 18px;

          &:hover span {
            border-color: $base-color;
            background: $base-color-transparent;

            svg {
              stroke-dashoffset: 0;
              stroke: $base-color;
            }
          }

          span {
            border-radius: 50%;
            display: inline-block;
            transform: translate3d(0, 0, 0);
            position: relative;
            width: 18px;
            height: 18px;
            transform: scale(1);
            border: 1px solid $second-color-darker;
            transition: all 0.2s ease;

            &:before {
              content: '';
              width: 100%;
              height: 100%;
              background: $base-color;
              border-radius: 50%;
              display: block;
              transform: scale(0);
              opacity: 1;
            }

            svg {
              position: absolute;
              fill: none;
              stroke: #fff;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: 16px;
              stroke-dashoffset: 16px;
              transition: all 0.3s ease;
              transition-delay: 0.1s;
              transform: translate3d(0, 0, 0);
              width: 9px;
              @include center-absolute;
            }
          }
        }

        @keyframes wave {
          50% {
            transform: scale(0.9);
          }
        }

        .delete-btn {
          .delete-svg {
            fill: $second-color-darker;
            transition: fill 0.3s ease;
          }

          &:focus:active .delete-svg {
            fill: $second-color-darkness;
          }

          &:hover .delete-svg {
            fill: $second-color-darkest;
          }
        }
      }

      .subtask.completed {
        .subtask-name {
          color: $second-color-darker;

          &::before {
            transform: scaleX(1);
          }
        }

        label {
          span {
            background: $base-color;
            border-color: $base-color;
            animation: wave 0.4s ease;

            &:before {
              transform: scale(3.5);
              opacity: 0;
              transition: all 0.6s ease;
            }

            svg {
              stroke-dashoffset: 0;
            }
          }

          &:hover span {
            svg {
              stroke: #fff;
              transition-duration: 0.2s;
            }
          }
        }

        .delete-btn {
          transform: translateX(0) !important;
          opacity: 1 !important;

          .delete-svg {
            fill: $base-color-light;
          }

          &:focus:active .delete-svg {
            fill: $base-color-dark;
          }

          &:hover .delete-svg {
            fill: $base-color;
          }
        }
      }

      .subtask.selected {
        border-color: $base-color;
        box-shadow: 0 2px 5px 0 $shadow-color;
        transform: scale(1.005);
        transition-duration: 0.1s;
      }

      .subtask.selected:not(.completed) {
        cursor: text !important;
      }
    }

    form {
      align-items: center;
      box-shadow: 0 -17px 0 -16px $shadow-color;
      box-shadow: 0 -17px 0 -16px $shadow-color-grey;
      margin: 0 10px;
      position: relative;

      #newSubTask {
        background: none;
        border: none;
        padding: 0 10px;
        min-height: 2.6rem;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      .submit-btn {
        background: #fff;
        border: none;
        border-radius: 5px;
        color: $base-color-light;
        font-size: 13px;
        font-weight: bold;
        right: 10px;
        text-transform: uppercase;
        @include vertical-center-absolute;

        &:focus:active {
          color: $base-color-dark;
        }

        &:hover {
          color: $base-color;
        }
      }
    }
  }

  .note-block {
    display: flex;
    padding: 0;
    margin-bottom: 0;

    textarea {
      border: 1px solid transparent;
      color: $grey-color;
      font-weight: 400;
      height: 86px;
      padding: 18px 22px;

      &:hover {
        background: #fff;
        border-color: $second-color-darker;
      }

      &:focus {
        background: #fff;
        border-color: $base-color;
      }
    }
  }

  .my-day {
    display: flex;
    padding: 16px 20px 16px 22px;

    &:hover {
      background: $white-smoke;
    }

    & > svg {
      position: relative;
      transform: none;
      top: initial;
      left: initial;
    }

    .my-day-text {
      color: $grey-color;
      padding-left: 12px;
      width: 100%;
    }

    .remove-my-day {
      pointer-events: none;
      opacity: 0;

      svg {
        cursor: pointer;
        width: 10px;
      }
    }

    &.added {
      & > svg {
        fill: $base-color;
      }

      .my-day-text {
        color: $base-color;
      }

      &:hover {
        .remove-my-day {
          opacity: 1;
          pointer-events: initial;
        }
      }
    }
  }

  .date-block {
    padding: 0;

    & > svg {
      pointer-events: none;
    }

    label {
      display: block;
      position: relative;

      &:hover {
        background: $white-smoke;
      }

      #date {
        border: 0;
        cursor: auto;
        padding: 16px 0;
        position: relative;
        opacity: 0;
        width: 100%;
        z-index: 1;
      }

      .date-message {
        color: $grey-color;
        left: 50px;
        pointer-events: none;
        @include vertical-center-absolute;
      }
    }

    .remove-date {
      opacity: 0;
      position: absolute;
      right: 20px;
      width: 10px;
      z-index: 2;
      @include vertical-center-absolute;
    }

    label.is-set {
      .date-message {
        color: $grey-color;
      }
    }

    &:hover .remove-date {
      cursor: pointer;
      opacity: 1;
    }

    label.is-set + svg {
      fill: $grey-color;
    }

    label.overdue {
      .date-message {
        color: $high-color;
      }
    }

    label.overdue + svg {
      fill: $high-color;
    }

    label.today {
      .date-message {
        color: $base-color;
      }
    }

    label.today + svg {
      fill: $base-color;
    }
  }

  .priority-block {
    padding: 18px 22px;

    h2 {
      color: $grey-color;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        border: 1px solid transparent;
        border-radius: 4px;
        min-height: auto !important;
        padding: 4px;

        &:hover {
          background: $white-smoke;
        }

        svg {
          width: 20px;
        }
      }

      li.selected {
        border-color: $low-color;
      }

      li.low {
        svg {
          fill: $low-color;
        }
      }

      li.medium {
        margin-left: 16px;
        svg {
          fill: $medium-color;
        }
      }

      li.high {
        margin-left: 16px;
        svg {
          fill: $high-color;
        }
      }
    }
  }

  .creation-date {
    background: #f4f4f4;
    border-color: #eaeaea;
    display: flex;
    justify-content: center;
    color: #666666;
    font-size: 13px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 360px;
    border-radius: 0;
    margin-bottom: 0;

    .creation-date-text {
    }
  }
}

.details-view.show {
  overflow-x: hidden;
  padding: 10px;
  width: 360px;
  z-index: 70;
  right: 0;
  top: 48px;
  height: calc(100% - 88px); // Minus "top" + "margin-bottom" values
  max-width: 100%;

  @media screen and (min-width: $breakpoint-sm) {
    padding-left: 0;
    height: auto;
    top: 0;
  }
}

.details-view.disabled {
  div {
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
    user-select: none;
  }
}
