.details-view {
  background: $white-smoke;
  padding: 10px;
  padding-left: 0;

  div {
    background: #fff;
    border: 1px solid $second-color-dark;
    padding: 12px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 4px;

    textarea {
      border: none;
      font-weight: 400;
      overflow: hidden;
      padding: 6px 10px;
      resize: none;
      width: 100%;

      &:hover,
      &:focus {
        background: $white-smoke;
      }
    }

    & > svg {
      width: 16px;
      fill: $grey-color;
      left: 22px;
      position: absolute;
      z-index: 1;
      @include vertical-center-absolute;
    }
  }

  textarea.name-details {
    height: 30px;
    font-weight: 500;
  }

  .note-block {
    display: flex;
    padding: 0;

    textarea {
      border: 1px solid transparent;
      color: $grey-color;
      font-weight: 400;
      height: 86px;
      padding: 18px 22px;

      &:hover {
        background: #fff;
        border-color: $second-color-darker;
      }

      &:focus {
        background: #fff;
        border-color: $base-color;
      }
    }
  }

  .date-block {
    padding: 0;

    label {
      display: block;
      position: relative;

      &:hover {
        background: $white-smoke;
      }

      #date {
        border: 0;
        opacity: 0;
        width: 100%;
        &::-webkit-calendar-picker-indicator {
          padding: 12px;
          width: 100%;
        }
      }

      .date-message {
        color: $grey-color;
        left: 50px;
        pointer-events: none;
        @include vertical-center-absolute;
      }

      .remove-date {
        opacity: 0;
        position: absolute;
        right: 20px;
        width: 10px;
        z-index: 1;
        @include vertical-center-absolute;
      }
    }

    label.is-set {
      .date-message {
        color: $base-color;
      }

      &:hover .remove-date {
        cursor: pointer;
        opacity: 1;
      }
    }

    label.is-set + svg {
      fill: $base-color;
    }

    label.overdue {
      .date-message {
        color: $high-color;
      }
    }

    label.overdue + svg {
      fill: $high-color;
    }
  }

  .priority-block {
    padding: 18px 22px;

    h2 {
      color: $grey-color;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        border: 1px solid transparent;
        border-radius: 4px;
        min-height: auto !important;
        padding: 4px;

        &:hover {
          background: $white-smoke;
        }

        svg {
          width: 20px;
        }
      }

      li.selected {
        border-color: $low-color;
      }

      li.low {
        svg {
          fill: $low-color;
        }
      }

      li.medium {
        margin-left: 16px;
        svg {
          fill: $medium-color;
        }
      }

      li.high {
        margin-left: 16px;
        svg {
          fill: $high-color;
        }
      }
    }
  }
}
