header {
  grid-area: header;
  height: 54px;
  display: flex;
  align-items: center;
  background: $base-color;
  padding: 0;
  z-index: 70;
  margin-left: -55px;

  @media screen and (min-width: $breakpoint-sm) {
    margin-left: 0;
  }

  .menu-btn {
    background: none;
    width: 54px;
    height: 54px;
    padding: 0;
    border: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #005a9e;
    }

    svg {
      width: 20px;
      fill: #fff;
    }
  }

  .search-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 54px;

    .search-icon {
      position: relative;
      left: 23px;
      transform: rotate(88deg);

      svg {
        fill: $base-color;
        width: 16px;
      }
    }

    #search-input {
      border: 0;
      font-size: 14px;
      height: 32px;
      width: 400px;
      padding: 0 40px;
      border-radius: 4px;
      color: $text-color;

      &::placeholder {
        color: $base-color;
      }
    }

    .search-reset {
      position: relative;
      right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 28px;
      width: 28px;

      svg {
        fill: $base-color;
        width: 16px;
      }
    }
  }
}
