// Variables
$base-color: #0080ff;
$base-color-light: lighten($base-color, 15%);
$base-color-dark: darken($base-color, 15%);
$base-color-transparent: rgba(0, 128, 255, 0.1);
// Main text color
$text-color: #4a4a4a;
// Secondary color
$second-color: #f4f4f4;
$second-color-light: lighten($second-color, 3%);
$second-color-dark: darken($second-color, 3%);
$second-color-darker: darken($second-color, 15%);
$second-color-darkest: darken($second-color, 30%);
$second-color-darkness: darken($second-color, 45%);
// Danger color
$danger-color: #f44336;
$danger-color-light: lighten($danger-color, 15%);
$danger-color-dark: darken($danger-color, 15%);
// New colors
$grey-color: #757575;
// Background
$white-smoke: #f5f5f5;
// Shadow colors
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-color-grey: #e5e5e5;
// Priority colors
$low-color: #cecece;
$medium-color: #ff9f1a;
$medium-color-transparent: rgba(255, 159, 26, 0.1);
$high-color: #eb5a46;
$high-color-transparent: rgba(235, 90, 70, 0.1);
// Font size
$font-size: 16px;
$small-font-size: 13px;
// Transition
$transition: all 0.4s ease;
// Responsive breakpoints
$breakpoint-landscape: 460px;

// Mixins
@mixin center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin vertical-center-absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin horizontal-center-absolute {
  position: absolute;
  right: 50%;
  transform: translateX(-50%);
}
