.lists-menu {
  background: #fff;
  border-right: 1px solid $second-color-dark;
  box-shadow: 0 2px 10px 0 $shadow-color;
  overflow: hidden;
  padding: 10px 0 42px;

  .lists {
    max-height: 100%;
    overflow-x: hidden;

    .list {
      border-radius: 5px;
      font-weight: bold;
      margin: 0 8px;
      padding: 0 10px;

      &:hover {
        background: $white-smoke;
      }

      .list-icon {
        margin-right: 12px;
        width: 18px;

        .list-svg {
          fill: $grey-color;
        }
      }

      .project-name {
      }

      .todo-count {
        color: $grey-color;
        font-size: $small-font-size;
        margin-left: 5px;
        padding: 0px 5px;
      }

      .delete-btn {
        .delete-svg {
          fill: $second-color-darker;
        }

        &:focus:active .delete-svg {
          fill: $second-color-darkness;
        }

        &:hover .delete-svg {
          fill: $second-color-darkest;
        }
      }
    }

    .list.selected {
      background: $base-color-transparent;
      color: $base-color;

      .list-icon {
        .list-svg {
          fill: $base-color;
        }
      }

      .todo-count {
        color: $base-color-light;
      }

      .delete-btn {
        .delete-svg {
          fill: $base-color-light;
        }

        &:focus:active .delete-svg {
          fill: $base-color-dark;
        }

        &:hover .delete-svg {
          fill: $base-color;
        }
      }
    }

    .pinned {
    }
  }

  form {
    align-items: center;
    box-shadow: 0 -17px 0 -16px $shadow-color;
    box-shadow: 0 -17px 0 -16px $shadow-color-grey;
    margin: 0px 10px;
    position: relative;

    #newList {
      background: none;
      border: none;
      padding: 0 10px;
      min-height: 2.6rem;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .submit-btn {
      background: #fff;
      border: none;
      border-radius: 5px;
      color: $base-color-light;
      font-size: 13px;
      font-weight: bold;
      right: 10px;
      text-transform: uppercase;
      @include vertical-center-absolute;

      &:focus:active {
        color: $base-color-dark;
      }

      &:hover {
        color: $base-color;
      }
    }
  }
}
