// Confirmation dialog box
#modal {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  left: calc(50% - 27.5px);
  position: absolute;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  top: 50%;
  transition: visibility 0s, opacity 0.15s linear 0.1s,
    transform 0.3s ease-out 0.1s;
  z-index: 99;
  width: 100%;
  width: fit-content;

  @media screen and (min-width: $breakpoint-sm) {
    left: 50%;
    width: auto;
  }

  h2 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    padding: 12px 24px 10px;
  }

  p {
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5rem;
    letter-spacing: 0.03125em;
    padding: 0 24px 20px;
    font-weight: 400;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    flex-direction: row-reverse;

    button {
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0.0892857143em;
      text-transform: uppercase;
      padding: 0 8px;
      border-radius: 4px;
      border: none;
      outline: none;
      line-height: 2.25rem;
      color: $base-color;
      background: transparent;

      &:hover {
        background: #0080ff14;
        transition: all 0.3s ease;
      }

      &:active:focus {
        background: #0080ff40;
      }
    }
  }
}

#modal.close {
  transform: translate(-50%, calc(-50% - 50px));
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.15s, opacity 0.15s linear, transform 0.3s ease-out;
}

// transparent black background
.modal-backdrop,
.overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: visibility 0.15s 0.2s, opacity 0.15s linear 0.2s;
  visibility: hidden;
  width: 100%;
  z-index: 80;
}

.overlay {
  z-index: 50;
}

.modal-backdrop.fade-in,
.overlay.fade-in {
  opacity: 0.5;
  transition: visibility 0s, opacity 0.15s linear;
  visibility: visible;
}
