// local variables
$line-spacing: 48px;
// local classes
.hide-empty-state {
  visibility: hidden;
  opacity: 0;
}

.tasks-view {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 $shadow-color;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 25px 25px;
  padding-bottom: 60px;
  position: relative;

  &.pinned {
    h1 {
      span:hover {
        cursor: auto;
        background: initial;
      }
    }

    .todo-list {
      li.list-header {
        button.open-close {
          border: 0;
          background: none;
          transform: rotate(-90deg);

          &.close {
            transform: rotate(90deg);
          }

          svg {
            width: 12px;
          }
        }
      }

      ul.todo-list-time {
        border-bottom: 1px solid $second-color-darker;
        height: 0;
        overflow: hidden;
        padding: 0 2px;
        transition: height 0.3s linear;
      }

      .list-header.hide + ul.todo-list-time {
        border-bottom: 0;
      }
    }
  }

  h1 {
    margin: 10px 10px 20px;
    font-weight: bold;

    span,
    input {
      width: 100%;
    }

    span {
      display: block;
      padding: 6px 10px;

      &:hover {
        background: #f5f5f5;
        cursor: text;
      }
    }

    input {
      border: none;
      font-weight: bold;
      height: 100%;
      padding: 5px 10px;

      &:focus {
        background: #f5f5f5;
      }
    }
  }

  .todo-list {
    overflow-x: hidden;
    padding: 0 20px 15px;

    .todo-item {
      border: 1px solid $second-color-darker;
      margin-bottom: 10px;
      min-height: 3.13rem !important;
      padding: 6px 11px;
      transition: $transition;

      &:hover {
        border-color: $base-color;
      }

      .title-block {
        padding-left: 15px;

        .todo-title {
          transition: color 0.3s ease;

          &::before {
            background: $second-color-darker;
            content: '';
            height: 1px;
            left: $line-spacing;
            position: absolute;
            @include vertical-center-absolute;
            transform: scaleX(0) translateY(-50%);
            transform-origin: 0 0;
            transition: transform 0.3s ease;
            width: calc(100% - (#{$line-spacing} * 2));
          }
        }

        .indicators {
          display: flex;
          flex-wrap: wrap;
          line-height: 1.5;

          .note-indicator,
          .date-indicator,
          .subtask-indicator,
          .project-name-indicator,
          .important-indicator,
          .my-day-indicator {
            color: $grey-color;
            display: flex;
            font-size: 12px;
            margin-right: 6px;
            transition: color 0.3s ease;

            &::before {
              content: '•';
              color: $second-color-darker;
              margin-right: 6px;
            }

            svg {
              fill: $grey-color;
              margin-right: 5px;
              width: 10px;
              transition: fill 0.3s ease;
            }
          }

          span:first-child {
            &::before {
              display: none;
            }
          }

          .date-indicator {
            color: $grey-color;

            svg {
              fill: $grey-color;
            }
          }

          .date-indicator.overdue {
            color: $high-color;

            svg {
              fill: $high-color;
            }
          }

          .date-indicator.today {
            color: $base-color;

            svg {
              fill: $base-color;
            }
          }

          .subtask-indicator {
            svg {
              display: none;
            }
          }

          .subtask-indicator.completed {
            svg {
              display: inherit;
            }
          }

          .important-indicator {
            height: 18px;

            svg {
              fill: $base-color;
              margin-right: 0;
              width: 14px;
            }
          }

          .my-day-indicator {
            height: 18px;

            svg {
              fill: $base-color;
              margin-right: 0;
              width: 14px;
            }
          }
        }
      }

      .title-block.indicator-on {
        .todo-title {
          &::before {
            top: 15px;
          }
        }
      }

      input[type='checkbox'] {
        height: 0;
        opacity: 0;
        width: 0;
      }

      label {
        cursor: pointer;
        height: 22px;
        width: 22px;

        &:hover span {
          border-color: $base-color;
          background: $base-color-transparent;

          svg {
            stroke-dashoffset: 0;
            stroke: $base-color;
          }
        }

        span {
          border-radius: 50%;
          display: inline-block;
          transform: translate3d(0, 0, 0);
          position: relative;
          width: 22px;
          height: 22px;
          transform: scale(1);
          border: 1px solid $second-color-darker;
          transition: all 0.2s ease;

          &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: $base-color;
            border-radius: 50%;
            display: block;
            transform: scale(0);
            opacity: 1;
          }

          svg {
            position: absolute;
            fill: none;
            stroke: #fff;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 16px;
            stroke-dashoffset: 16px;
            transition: all 0.3s ease;
            transition-delay: 0.1s;
            transform: translate3d(0, 0, 0);
            width: 12px;
            @include center-absolute;
          }
        }
      }

      @keyframes wave {
        50% {
          transform: scale(0.9);
        }
      }

      .delete-btn {
        .delete-svg {
          fill: $second-color-darker;
          transition: fill 0.3s ease;
        }

        &:focus:active .delete-svg {
          fill: $second-color-darkness;
        }

        &:hover .delete-svg {
          fill: $second-color-darkest;
        }
      }
    }

    .todo-item.completed {
      .title-block {
        .todo-title {
          color: $second-color-darker;

          &::before {
            transform: scaleX(1);
          }
        }

        .indicators {
          .note-indicator,
          .date-indicator,
          .date-indicator.overdue,
          .date-indicator.today,
          .subtask-indicator,
          .project-name-indicator,
          .important-indicator,
          .my-day-indicator {
            color: $second-color-darker;

            svg {
              fill: $second-color-darker;
            }
          }
        }
      }

      label {
        span {
          background: $base-color;
          border-color: $base-color;
          animation: wave 0.4s ease;

          &:before {
            transform: scale(3.5);
            opacity: 0;
            pointer-events: none;
            transition: all 0.6s ease;
          }

          svg {
            stroke-dashoffset: 0;
          }
        }

        &:hover span {
          svg {
            stroke: #fff;
            transition-duration: 0.2s;
          }
        }
      }

      .delete-btn {
        transform: translateX(0) !important;
        opacity: 1 !important;

        .delete-svg {
          fill: $base-color-light;
        }

        &:focus:active .delete-svg {
          fill: $base-color-dark;
        }

        &:hover .delete-svg {
          fill: $base-color;
        }
      }
    }

    .todo-item.selected {
      border-color: $base-color;
      box-shadow: 0 2px 5px 0 $shadow-color;
      transform: scale(1.005);
      transition-duration: 0.1s;
    }

    li.low {
    }

    li.medium {
      label {
        span {
          background: $medium-color-transparent;
          border-color: $medium-color;
          border-width: 2px;
          transition: all 0.2s ease;
        }
      }
    }

    li.high {
      label {
        span {
          background: $high-color-transparent;
          border-color: $high-color;
          border-width: 2px;
          transition: all 0.2s ease;
        }
      }
    }
  }

  #empty-state {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: visibility 0s, opacity 0.17s ease-in;
    width: 350px;

    svg {
      order: 1;
      width: 200px;

      @media screen and (min-height: $breakpoint-landscape) {
        order: 0;
        width: 100%;
      }
    }
  }

  form {
    align-items: center;
    background: #fff;
    bottom: -15px;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 0 20px;
    margin: 15px 0;
    padding: 10px 10px;
    position: absolute;
    width: 100%;
    z-index: 1;

    #newTodo {
      border: 1px solid $second-color-darker;
      border-radius: 25px;
      font-size: $small-font-size;
      margin-right: 10px;
      padding: 12px 19px;
      transition: $transition;
      width: 100%;

      &:hover,
      &:focus {
        border-color: $base-color;
      }
    }

    #newTodo:focus ~ .submit-btn {
      background: $base-color-light;
      border-color: $base-color-light;

      &:hover {
        background: $base-color;
        border-color: $base-color;
      }

      .arrow-svg {
        fill: #fff;
      }
    }

    .submit-btn {
      background: #fff;
      border: 1px solid $second-color-darker;
      border-radius: 50%;
      height: 40px;
      min-height: 40px;
      min-width: 40px;
      position: relative;
      transform: rotate(-90deg);
      transition: $transition;
      width: 40px;

      &:hover {
        background: $base-color;
        border-color: $base-color;

        .arrow-svg {
          fill: #fff;
        }
      }

      &:focus:active {
        box-shadow: 0 0 0 6px #cecece;
      }

      svg {
        @include center-absolute;
        width: 18px;

        .arrow-svg {
          fill: $second-color-darker;
          transition: $transition;
        }
      }
    }
  }
}
